{% extends './layout/layout.html' %} {% block content %}
<ul>
  <a class="link-dark text-decoration-none" href="/yarn">실 추천</a>
</ul>

<div id="pattern_section"></div>

<hr />
<ul>
  <a class="link-dark text-decoration-none" href="/pattern">도안 추천</a>
</ul>
<hr />
<ul>
  <a class="link-dark text-decoration-none" href="/pattern">실시간 인기 글</a>
</ul>

{% endblock %} {% block script %}

<script src="/ravelryApi.js"></script>
<script>
  let urls = [];
  const urlList = getImgList();
</script>
{% endblock %}
