{% extends './layout/layout.html' %} {% block content %}
<ul>
  <a class="link-dark text-decoration-none" href="/pattern">> 도안 추천</a>
  <div id="pattern_section" ; class="pattern_section_class"></div>
</ul>
<br />

<hr />

<ul>
  <a class="link-dark text-decoration-none" href="/yarn">> 실 추천</a>
  <div id="yarn_section" ; class="yarn_section_class"></div>
</ul>

<hr />

<ul>
  <a class="link-dark text-decoration-none" href="/pattern">실시간 인기 글</a>
</ul>

{% endblock %} {% block script %}
<script src="/ravelryApi.js"></script>
<script>
  getPatternImgList();
  getYarnImgList();
</script>
{% endblock %}
