<!DOCTYPE html>
<html lang="ko">

{% include "./head.html" %}

<body>
  {% include "./navbar.html" %}
  <div class="my-5">
    <div class="">
  
      {% if customer %}
      {% else %}
      {% endif %}
  
      {% block content %}
      
      {% endblock %}
      {% include "./footer.html" %}
  
    </div>
  </div>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="/ravelryApi.js"></script>
  {% block script %}

  {% endblock %}
</body>

</html>