<nav class="navbar navbar-expand-lg bg-froggy">
  <div class="collapse navbar-collapse show" id="navbarColor03">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">

          <ul class="navbar-nav me-auto">
            <a class="navbar-brand link-dark" href="/">froggy</a>
            <li class="nav-item fs-7">
              <a class="nav-link" href="/pattern">도안</a>
            </li>
            <li class="nav-item fs-7">
              <a class="nav-link" href="/yarn">실</a>
            </li>
            {% if customer %}
            <li class="nav-item fs-7">
              <a id="my-profile" class="nav-link" href="/users/{{user.id}}">내 정보 수정</a>
            </li>
            {% else %}
            <li class="nav-item fs-7">
              <a id="join" class="nav-link" href="/join">회원가입</a>
            </li>
            {% endif %}
            <div class="collapse navbar-collapse justify-content-end">
              {% if customer %}
              <div class="d-flex nav-item fs-6">
                {{customer.customer_nick}}님 안녕하세요!
              </div>
              <div class="d-flex nav-item">
                <a id="logout" class="btn btn-success" href="/auth/logout">로그아웃</a>
              </div>
              {% else %}
              <div class="d-flex">
                <a id="login" class="btn btn-success" href="/login">로그인</a>
              </div>
              {% endif %}
            </div>
          </ul>
        </div>
        <div class="col-lg-2"></div>
      </div>
    </div>
  </div>
</nav>
